<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Note</td>
        <td>Amount</td>
        <td>Công việc</td>
    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.name}"></td>
        <td th:text="${task.note}"></td>
        <td th:text="${task.amount}"></td>
        <td ><a th:href="@{/category/{id}(id=${task.category.id})}" th:text="${task.category.name}"></a></td>
        <td><a th:href="@{/delete/{id}(id=${task.id})}">Xoá</a></td>
    </tr>
</table>
<a th:href="@{/create}">Tạo Task</a>
<div>Thống ke</div>
<table border="1">
    <tr th:each="cnt : ${count}">
        <td th:text="${cnt.getSum()}"></td>
        <td th:text="${cnt.getName()}"></td>
    </tr>
</table>
</body>
</html>